/**
 * Stylesheet for rendering the Macaron Mix Study Part 2
 *   Author: Ben Clark - Oct. 2016
 **/


/*******************************************************/
/******                ELEMENTS                *********/
/*******************************************************/
html {
}

body {
  font-size: 12px;
  font-family:"Helvetica Nueue", sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 36pt;
  font-weight: 900;
}

h2 {

}

p {
  font-size: 12pt;
  font-weight: 100;
}


/*******************************************************/
/******                CLASSES                 *********/
/*******************************************************/
.icon {
  display: block;
  position: relative;
  width: 30%;
  height: 60px;
  margin: 0;
  padding: 1px;
  text-align: center;
  background: #CCCCCC;
  border-radius: 10px;
  box-shadow: -3px 3px 5px #888888;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  cursor: default;
}

.icon-label {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 8px;
  text-align: center;
}

.icon-instructions {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  font-size: 10pt;
  font-weight: 100;
  color: #555555;
  text-align: center;
}

.control-button {
  display: block;
  position: relative;
  width: 60%;
  height: auto;
  padding: 0;
  margin-left: 20%;
  margin-top: none;
  text-align: center;
  background: #CCCCCC;
  border-radius: 5px;
  box-shadow: -3px 3px 5px #888888;
}

.control-button-text {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 10px;
}

.unavailable {
  color: #555555;
}





/*******************************************************/
/******                  ID's                  *********/
/*******************************************************/
#app {
  margin: 0;
  padding: 0;
}

#header {
  display: block;
  position: relative;
  width: 95%;
  height: 70px;
  padding: 15px;
  margin: 0;
  border-radius: 10px;
  background: #ffc170; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffc170 0%, #ffcc8e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc170), color-stop(100%,#ffcc8e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffc170 0%,#ffcc8e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffc170 0%,#ffcc8e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffc170 0%,#ffcc8e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffc170 0%,#ffcc8e 100%); /* W3C */
  text-align: center;
}

#staircase-task {
  display: block;
  position: relative;
  width: 80%;
  height: 200px;
  margin-left: 10%;
  padding: 10px;
  background: #EEEEEE;
  border-radius: 10px;
}

#staircase-task-header {
  text-align: center;
}

#icon-player-container {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
}

#target-icon {
  float: left;
}

#controls-container {
  display: block;
  position: relative;
  float: left;
  width: 39%;
  height: 100px;
}

#your-icon {
  float: right;
}
